@using ISNAPOO.Core.ViewModels.Identity
@inherits BlazorBaseComponent

<SfDialog @ref="sfDialog" @bind-Visible="isVisible" Width="70%" EnableResize="true" AllowDragging="true" Height="98%" IsModal="true" ZIndex="2000" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Роли</Header>
        <Content>
            <div class="card">
                <div class="card-header">
                    <nav class="navbar navbar-expand">
                        <!-- Left navbar links -->
                        <ul class="navbar-nav">
                            <li class="nav-item d-none d-sm-inline-block">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="AddNewRole">Добави</button>
                            </li>


                        </ul>
                    </nav>
                </div>

                <div class="card-body">
                    <SfGrid ID="RoleGrid" DataSource="@roles" AllowSorting="true" EnableAltRow="true" EnableHover="false" AllowSelection="true"
                            AllowFiltering="true" @ref="refRoleGrid"
                            AllowPaging="true" AllowReordering="true" AllowResizing="true" AllowExcelExport="true" AllowPdfExport="true">
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                        <GridPageSettings PageCount="5" PageSize="20" PageSizes="false"></GridPageSettings>
                        <GridSortSettings>
                            <GridSortColumns>
                                <GridSortColumn Field="RoleName" Direction="SortDirection.Ascending"></GridSortColumn>
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridColumns>
                            <GridColumn Type="Syncfusion.Blazor.Grids.ColumnType.CheckBox" Width="10"></GridColumn>
                            <GridColumn Field="Name" HeaderText="Код" TextAlign="TextAlign.Left" Width="95"></GridColumn>
                            <GridColumn Field="RoleName" HeaderText="Роля на потребител" TextAlign="TextAlign.Left" Width="95"></GridColumn>
                        </GridColumns>
                        <GridEvents TValue="ApplicationRoleVM" RowSelected="RoleSelectedHandler" RowDeselected="RoleDeselectedHandler" />
                    </SfGrid>
                </div>
            </div>
        </Content>

    </DialogTemplates>
</SfDialog>
