
@inherits BlazorBaseComponent

<SfDialog @bind-Visible="isVisible" Width="60%" EnableResize="true" AllowDragging="true" IsModal="true" ZIndex="2000" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Филтър</Header>
        <Content>
            <EditForm EditContext="editContext" id="searchForm">
                <ValidationSummary />
                <DataAnnotationsValidator />
                <div class="card">
                    <div class="card-block" style="">
                        <p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Година:</label>
                                        <SfNumericTextBox @bind-Value="this.selfAssessmentReportListFilterVM.Year" ShowSpinButton="false" Format="##.##" TValue="int?" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Дата подаване на доклад от: </label>
                                        <SfDatePicker TValue="DateTime?" @bind-Value="this.selfAssessmentReportListFilterVM.FillingDateFrom" ShowClearButton="true" Format="dd.MM.yyyy" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Дата подаване на доклад до: </label>
                                        <SfDatePicker TValue="DateTime?" @bind-Value="this.selfAssessmentReportListFilterVM.FillingDateTo" ShowClearButton="true" Format="dd.MM.yyyy" />
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-right">
                            <button class="btn btn-info" type="submit" form="searchForm" @onclick="SearchBtn">Търси</button>
                            <button class="btn btn-warning btn-outline-warning waves-effect md-trigger" type="button" @onclick="ClearBtn">Изчисти</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>
