@inherits BlazorBaseComponent

<div class="card">
    <div class="card-block" style="padding-top: 0px;">
        <p>
            <nav class="navbar navbar-expand">
                <!-- Left navbar links -->
                <ul class="navbar-nav float">
                    @if (!this.DisableFieldsWhenApplicationIsNotDocPreparation)
                    {
                        <li class="nav-item d-none d-sm-inline-block">
                            <SfTooltip Position="TooltipPosition.BottomCenter" Content="@(this.IsCPO ? "Проверка на съответствието на данните в заявлението с изискванията за лицензиране на ЦПО" : "Проверка на съответствието на данните в заявлението с изискванията за лицензиране на ЦИПО")" OpensOn="Hover">
                                @if (this.IsCPO) 
                                {
                                    <button class="btn btn-primary btn-outline-primary waves-effect md-trigger" type="button" @onclick="(async () => await this.ValidateCPOApplicationAsync(true))"><i class="fa fa-check-square-o" style="margin-right: 5px;"></i>Валидирай заявление</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-outline-primary waves-effect md-trigger" type="button" @onclick="(async () => await this.ValidateCIPOApplicationAsync(true))"><i class="fa fa-check-square-o" style="margin-right: 5px;"></i>Валидирай заявление</button>
                                }
                            </SfTooltip>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            &nbsp;
                        </li>
                        @if (!this.isBtnDisabled)
                        {
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="Печат на бланка на заявлението" OpensOn="Hover">
                                    <button type="button" @onclick="(() => PrintApplication())" class="btn btn-primary btn-outline-primary waves-effect md-trigger"><i class="fa fa-list-alt" style="margin-right: 5px;"></i>Печат заявление</button>
                                </SfTooltip>
                            </li>
                        }
                        <li hidden class="nav-item d-none d-sm-inline-block float-none">
                            <button class="btn btn-primary btn-outline-primary waves-effect md-trigger" hidden type="button" @onclick="SignApplication"><i class="icofont icofont-pen-alt-1" style="margin-right: 5px;"></i>Подпиши заявление</button>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block float-none">
                            <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" data-bs-toggle="modal" data-bs-target="#small-Modal" style="display: none;" id="btnCertificatePublicData" title="Данни за сертификат"><i class="fa fa-info-circle"></i></button>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            &nbsp;
                        </li>
                        <li class="nav-item d-none d-sm-inline-block float-none">
                            <button class="btn btn-primary btn-outline-primary waves-effect md-trigger" type="button" @onclick="OpenPaymentFeeListModal"><i class="fa fa-credit-card" style="margin-right: 5px;"></i>Плащане на такси</button>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            &nbsp;
                        </li>
                        @if (!this.isBtnDisabled)
                        {
                            <li class="nav-item d-none d-sm-inline-block float-none">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="Подаване на заявлението към деловодната система на НАПОО" OpensOn="Hover">
                                    <button class="btn btn-primary btn-outline-primary waves-effect md-trigger" type="button" @onclick="StartProcedure"><i class="fa fa-send-o" style="margin-right: 5px;"></i>Подай документи към НАПОО</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                            </li>
                        }
                    }
                </ul>
            </nav>
            <div class="row align-items-start">
                <EditForm EditContext="this.editContext">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label">
                                    УИН:
                                </label>
                                <SfNumericTextBox ShowSpinButton="false" @bind-Value="this.CandidateProviderVM.UIN" Enabled="false" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">
                                    № на заявление:
                                </label>
                                <SfTextBox @bind-Value="this.CandidateProviderVM.ApplicationNumber" Enabled="false" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Дата:
                                </label>
                                <SfDatePicker Enabled="false" @bind-Value="this.CandidateProviderVM.ApplicationDate" Format="dd.MM.yyyy" TValue="DateTime?" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">
                                    Вид на лицензията:
                                </label>
                                <SfTextBox @bind-Value="this.licenseType" Enabled="false" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group required">
                                <label class="control-label">Заявявам желанието си издаденият индивидуален административен акт и лицензията да бъдат получени: </label>
                                <SfDropDownList Enabled="!this.DisableFieldsWhenApplicationIsNotDocPreparation" TValue="int?" TItem="KeyValueVM" PopupHeight="230px" ShowClearButton="true" CssClass="e-multi-column"
                                                @bind-Value="this.CandidateProviderVM.IdReceiveLicense" DataSource="kvReceiveLicenseSource">
                                    <DropDownListFieldSettings Text="Description" Value="IdKeyValue" />
                                </SfDropDownList>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group required">
                                <label class="control-label">Начин на подаване на заявлението към НАПОО: </label>
                                <SfDropDownList Enabled="!this.DisableFieldsWhenApplicationIsNotDocPreparation" TValue="int?" TItem="KeyValueVM" PopupHeight="230px" ShowClearButton="true"
                                                @bind-Value="this.CandidateProviderVM.IdApplicationFiling" DataSource="kvApplicationFilingSource">
                                    <DropDownListFieldSettings Text="Description" Value="IdKeyValue" />
                                </SfDropDownList>
                            </div>
                        </div>
                    </div>
                    @if (this.CandidateProviderVM.IdApplicationFiling.HasValue)
                    {
                        if (this.CandidateProviderVM.IdApplicationFiling.Value == this.idKvESign)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Прикачване на подписано с електронен подпис заявление:
                                        </label>
                                        <SfUploader AutoUpload="false" AllowMultiple="false" AllowedExtensions="@(GlobalConstants.ALLOWED_EXTENSIONS_ALL)" MinFileSize="this.MinFileSize" MaxFileSize="this.MaxFileSize">
                                            <UploaderEvents ValueChange="OnChange" OnRemove="OnRemoveClick"></UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                            </div>
                            if (!string.IsNullOrEmpty(this.CandidateProviderVM.ESignApplicationFileName))
                            {
                                <div class="row e-upload" style="margin-left:0px">
                                    <div class="col-sm-8">
                                        <button type="button" class="btn-row" @onclick="(() => OnRemove(this.CandidateProviderVM.ESignApplicationFileName))"><i class="fa fa-trash-o"></i></button>
                                        <span class="align-text-bottom"><a @onclick="OnDownloadClick" href="#" class="link-primary">@this.CandidateProviderVM.ESignApplicationFileName</a></span>
                                    </div>
                                </div>
                            }
                        }
                    }
                </EditForm>
            </div>
        </p>
    </div>
</div>


<div class="modal fade" id="small-Modal" tabindex="-1" style="z-index: 1050; display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header e-dlg-header-content">
                <h4 class="modal-title">Данни за сертификат</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">
                            Subject:
                        </label>
                        <div id="divCertSubject" style="white-space: nowrap;"></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">
                            SerialNumber:
                        </label>
                        <div id="divSerialNumber" style="white-space: nowrap;"></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">
                            Thumbprint:
                        </label>
                        <div id="divThumbprint" style="white-space: nowrap;"></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">
                            Issuer:
                        </label>
                        <div id="divIssuer" style="white-space: nowrap;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .e-multi-column.e-ddl.e-popup.e-popup-open {
        text-overflow: unset !important;
    }

    .e-dropdownbase .e-list-item {
        white-space: unset !important;
        overflow-wrap: break-word !important;
        text-overflow: unset !important;
    }

    .e-multi-column.e-ddl.e-popup.e-popup-open td {
        padding-right: 0px !important;
        text-indent: 0px !important;
    }

    .name {
        padding-left: 10px;
    }
</style>

<FormApplicationModal @ref="form" IdCandidateProvider="this.CandidateProviderVM.IdCandidate_Provider" isCPO="this.IsCPO"></FormApplicationModal>
<PaymentFeeListModal @ref="paymentFeeListModal" />
