@inherits BlazorBaseComponent

<SfDialog @ref="sfDialog" @bind-Visible="isVisible" Width="1000" Height="460" EnableResize="true" AllowDragging="true" IsModal="true" ZIndex="2002" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Данни за проверка </Header>
        <Content>
            <EditForm EditContext="editContext" OnSubmit="SubmitCheckingHandler" id="submitCheckingForm">
                <ValidationSummary />
                <DataAnnotationsValidator />
                <div class="modal-body"> 
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="checkbox-fade fade-in-primary">
                                <label class="form-label">
                                    <input type="checkbox" @bind-value="this.candidateProviderPremisesCheckingVM.CheckDone" disabled="disabled" checked="@(candidateProviderPremisesCheckingVM.CheckDone ? "checked" : null)">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>Извършена проверка от експерт на НАПОО</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group required">
                                <label class="control-label">
                                    Дата на проверка:
                                </label>
                                <SfDatePicker @bind-Value="this.candidateProviderPremisesCheckingVM.CheckingDate" Format="dd.MM.yyyy" CssClass="form-control" TValue="DateTime?" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Коментар:
                                </label>
                                <InputTextArea class="form-control" @bind-Value="candidateProviderPremisesCheckingVM.Comment" rows="5"></InputTextArea>
                            </div>
                        </div>

                    </div>
                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-right">
                            <button class="btn btn-info" type="submit" form="submitCheckingForm">Запиши</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>
<ToastMsg @ref="toast"></ToastMsg>
