@using ISNAPOO.WebSystem.Pages.Candidate.CIPO.ProcedureModalReports
@inherits BlazorBaseComponent

<SfDialog @bind-Visible="isVisible" Width="98%" EnableResize="true" AllowDragging="true" Height="98%" IsModal="true" ZIndex="2000" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>@((MarkupString)this.title)</Header>
        <Content>
            <div>
                <ul class="validation-errors">
                    @foreach (var msg in this.validationMessages)
                    {
                        <li class="validation-message">@msg</li>
                    }
                </ul>
            </div>
            <SfTab EnablePersistence="true" LoadOn="ContentLoad.Init" @bind-SelectedItem="selectedTab">
                <TabEvents Selecting="Select" Selected="OnTabSelected" />
                <TabItems>
                    <TabItem Visible="!this.hideTabs">
                        <ChildContent>
                            <TabHeader Text="Проверка за пълнота и редовност"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <CompletenessCheckModal @ref="completenessCheck" CandidateProviderVM="candidateProviderVM" CallbackRefreshDocumentsGrid="RefreshDocumentsGrid" IsLicenceChange="this.isLicenceChange" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Visible="!this.hideTabs">
                        <ChildContent>
                            <TabHeader Text="Оценка на възможността"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <OpportunityAssessment @ref="opportunityAssessment" CandidateProviderVM="candidateProviderVM" CallbackRefreshDocumentsGrid="RefreshDocumentsGrid" IsLicenceChange="this.isLicenceChange" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Административни документи"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <ProcedureDocuments @ref="procedureDocuments" CandidateProviderVM="candidateProviderVM" IsLicenceChange="this.isLicenceChange" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Visible="!this.hideTabs">
                        <ChildContent>
                            <TabHeader Text="Срокове"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <ProcedureDeadlines @ref="procedureDeadlines" CandidateProviderVM="candidateProviderVM" IsLicenceChange="this.isLicenceChange" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Visible="!this.hideTabs">
                        <ChildContent>
                            <TabHeader Text="Издаване на лицензия"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <LicenseIssuing @ref="licenseIssuing" CandidateProviderVM="candidateProviderVM" IsLicenceChange="this.isLicenceChange" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Visible="!this.hideTabs">
                        <ChildContent>
                            <TabHeader Text="Изпратени известия"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <ProcedureNotificationsSent @ref="procedureNotificationsSent" CandidateProviderVM="candidateProviderVM" IsLicenceChange="this.isLicenceChange" />
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Доклади ВЕ"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <ExternalExpertsReports @ref="externalExpertsReports" CandidateProviderVM="candidateProviderVM" IsLicenceChange="this.isLicenceChange" />
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </Content>
        <FooterTemplate>
            <div class="row text-right">
                <div class="col-sm-7">
                    &nbsp;
                </div>
                <div class="col-sm-5">
                    <nav class="navbar navbar-expand" style="justify-content: flex-end;">
                        <ul class="navbar-nav">
                            <label>&nbsp</label>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip CssClass="form-group" Position="TooltipPosition.BottomCenter" Content="Справка в RegiX за актуално състояние на юридическото лице" OpensOn="Hover">
                                    <button type="button" class="btn btn-dagner btn-outline-danger waves-effect md-trigger" @onclick="CheckInRegix">Проверка в RegiX</button>
                                </SfTooltip>
                            </li>
                            <label>&nbsp</label>
                            <li class="nav-item d-none d-sm-inline-block">
                                <button class="btn btn-info" type="submit" @onclick="Submit">Запиши</button>
                            </li>
                            <label>&nbsp</label>
                            <li class="nav-item d-none d-sm-inline-block">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>

