@inherits BlazorBaseComponent

<SfDialog @bind-Visible="isVisible" EnableResize="true" AllowDragging="true" Width="50%" IsModal="true" ZIndex="2500" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>@this.title от ДОС</Header>
        <Content>
            <div class="form-group">
                <label>@this.information</label>
            </div>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-right">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
