namespace ISNAPOO.WebSystem.wwwroot.files.assets.css

.e-control {
    font-size: 43px;
}

.e-tab .e-toolbar-items .e-toolbar-item .e-tab-text {
    font-family: 43px;
}

.e-card {
    font-family: 43px;
}
