@page "/RegisterLegalCapacityList"
@inherits BlazorBaseComponent
@using ISNAPOO.Core.ViewModels.Training;

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <h6 class="page-title-left">Регистър на Свидетелства за правоспособност</h6>
            <div class="card">
                <div class="card-header">
                    <nav class="navbar navbar-expand  ">
                        
                    </nav>
                </div>

                <div class="card-body">
                    <SfGrid ID="sfGrid" DataSource="documents" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false"
                            AllowTextWrap="true" @ref="sfGrid" AllowSelection="false" AllowPaging="true" Toolbar="@(new List<string>() { "ExcelExport","CsvExport" , "PdfExport" })" AllowExcelExport="true" AllowPdfExport="true">
                        <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                        <GridEvents PdfQueryCellInfoEvent="PdfQueryCellInfoHandler" OnToolbarClick="ToolbarClick" TValue="ClientCourseDocumentVM" />
                        <GridSortSettings>

                            <GridSortColumns>
                                <GridSortColumn Field="ClientCourse.FamilyName" Direction="SortDirection.Ascending"></GridSortColumn>
                            </GridSortColumns>
                            <GridSortColumns>
                                <GridSortColumn Field="ClientCourse.FirstName" Direction="SortDirection.Ascending"></GridSortColumn>
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridColumns>
                            <GridColumn Field="IdClientCourseDocument" IsPrimaryKey="true" Visible="false"></GridColumn>
                            <GridColumn AllowFiltering="false" HeaderText=" " AllowSorting="false" TextAlign="TextAlign.Left" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" Width="45">
                                <Template>
                                    @GetRowNumber(sfGrid, (context as ClientCourseDocumentVM).IdClientCourseDocument).Result
                                </Template>
                            </GridColumn>
                            <GridColumn Width="35px">
                                <Template>
                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Преглед" Target="#btn" OpensOn="Hover">
                                        <button id="btn" @onclick="(() => openModal(context as ClientCourseDocumentVM))" class="btn-row"><i class="fa fa-search-plus"></i></button>
                                    </SfTooltip>
                                </Template>
                            </GridColumn>
                            <GridColumn Field="ClientCourse.Client.CandidateProvider.LicenceNumber" HeaderText="Лицензия"></GridColumn>
                            <GridColumn Field="ClientCourse.Client.CandidateProvider.CPONameOwnerGrid" HeaderText="ЦПО" TextAlign="TextAlign.Left"></GridColumn>
                            <GridColumn Field="ClientCourse.FullName" HeaderText="Име на курсист" TextAlign="TextAlign.Left"></GridColumn>

                            <GridColumn Field="ClientCourse.Course.Program.Speciality.Profession.CodeAndName" HeaderText="Професия" TextAlign="TextAlign.Left"></GridColumn>
                            <GridColumn Field="ClientCourse.Course.Program.Speciality.CodeAndNameAndVQS" HeaderText="Специалност" TextAlign="TextAlign.Left"></GridColumn>
                            <GridColumn Field="ClientCourse.Course.CourseName" HeaderText="Курс" TextAlign="TextAlign.Left"></GridColumn>
                            <GridColumn Field="ClientCourse.Course.timeSpan" HeaderText="Период на провеждане"></GridColumn>
                            <GridColumn Field="ClientCourse.Course.Location.LocationName" HeaderText="Населено място"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    </div>
</div>

<RegisterLegalCapacityModal @ref="modal"></RegisterLegalCapacityModal>
