@page "/TimelinesManagement"
@attribute [Authorize(Policy = "ShowRolesList")]

@using Data.Models.Data.ProviderData
@using ISNAPOO.Core.ViewModels.Identity
@inherits BlazorBaseComponent
@inject IApplicationUserService ApplicationUserService

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <h6 class="page-title-left">Управление на срокове по процедури</h6>
            <div class="card">
                <div class="card-header">
                    <nav class="navbar navbar-expand">
                        <!-- Left navbar links -->
                        <ul class="navbar-nav">

                            <li class="nav-item d-none d-sm-inline-block">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="OpenAddNewModal">Нов</button>
                            </li>
                             
                        </ul>
                    </nav>
                </div>
                <div class="card-body">
                    <SfGrid ID="roleGrid" DataSource="@ProcedureTimelines" AllowSorting="true" EnableAltRow="true" EnableHover="false" AllowSelection="true"
                            AllowFiltering="true" @ref="refGrid"
                            AllowPaging="true" AllowReordering="true" AllowResizing="true" 
                            Toolbar="@(new List<string>() { "ExcelExport", "PdfExport" })" AllowExcelExport="true" AllowPdfExport="true">
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                       
                        <GridPageSettings PageCount="5" PageSize="20" PageSizes="true"></GridPageSettings>
                        
                        <GridColumns>
                            
                            <GridColumn HeaderText=" " AllowResizing="false" AllowFiltering="false" AllowSorting="false" TextAlign="TextAlign.Left" Width="10px">
                                <Template>
                                    @{
                                        var val = GetRowCounter(context as ProcedureTimeline);
                                        @val.Result
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Width="25">
                                <Template>
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="Редакция" OpensOn="Hover">
                                    <button  @onclick="(() => SelectedRow(context as ProcedureTimeline))" class="btn-row"><i class="fa fa-pencil-square-o"></i></button>
                                </SfTooltip>
                                                   </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(ProcedureTimeline.LicensingType) HeaderText="Вид лицензия" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                            <GridColumn Field=@nameof(ProcedureTimeline.ApplicationStatus) HeaderText="Статус/Етап на процедурата по лицензиране" TextAlign="TextAlign.Left" Width="95"></GridColumn>
                            <GridColumn Field=@nameof(ProcedureTimeline.Period) HeaderText="Срок" TextAlign="TextAlign.Left" Width="95"></GridColumn>

                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<TimelinesManagementModal @ref="roleModal" CallbackAfterSubmit="OnApplicationSubmit" />-->
<ToastMsg @ref="toast" />
<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>