@page "/"
@attribute [Authorize]
@using global::Data.Models.Data.ProviderData



<PageTitle>Информационната система на НАПОО</PageTitle>

<AuthorizeView>
    

    <div class="has-bg-img">

        
       @* <img class="bg-img" src="../Images/Laleta2.png">*@
        @*<div class="top-left">
            <h2>Честит празник</h2>
            <h4>Бъдете нежни и красиви, възторжени и вдъхновени!</h4>
            <h4>Съхранете женствеността и лъчезарността си! </h4>
            <h4>Обичайте и бъдете обичани!</h4>
        </div>*@
    </div>
</AuthorizeView>

