@inherits BlazorBaseComponent

<SfDialog @bind-Visible="isVisible" EnableResize="true" Width="90%" AllowDragging="true" IsModal="true" ShowCloseIcon="true" ZIndex="2000" CloseOnEscape="false">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
        <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>
            Филтър
        </Header>
        <Content>
            <div class="card">
                <div class="card-block">
                    <EditForm EditContext="editContext" OnSubmit="Filter" id="mainForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Юридическо лице: </label>
                                    <SfAutoComplete TValue="int" @ref="sfAutoCompleteCPO" @bind-Value="model.IdCandidate_Provider" TItem="CandidateProviderVM"
                                                    DataSource="@candidateProviders" AllowCustom="false">
                                        <AutoCompleteFieldSettings Value="IdCandidate_Provider" Text="ProviderOwner"></AutoCompleteFieldSettings>
                                        <AutoCompleteTemplates TItem="CandidateProviderVM">
                                            <NoRecordsTemplate>
                                                Няма намерени резултати.
                                            </NoRecordsTemplate>
                                        </AutoCompleteTemplates>
                                        <AutoCompleteEvents TValue="int" TItem="CandidateProviderVM" Filtering="OnFilterCPO"></AutoCompleteEvents>
                                    </SfAutoComplete>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>№ на лицензия : </label>
                                    <InputText class="form-control" @bind-Value="this.model.LicenceNumber"></InputText>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Област: </label>
                                    @*@bind-Value="this.model.ClientCourse.Course.Location.Municipality.District.idDistrict"*@
                                    <SfComboBox @bind-Value="this.model.idDistrict" TItem="DistrictVM" AllowCustom="false" TValue="int" DataSource="@districtSource">
                                        <ComboBoxEvents TItem="DistrictVM" TValue="int" ValueChange="DistrictChangeHandler"></ComboBoxEvents>
                                        <ComboBoxFieldSettings Value="idDistrict" Text="DistrictName"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Община: </label>
                                    <SfComboBox @bind-Value="this.model.idMunicipality" TItem="MunicipalityVM" AllowCustom="false" TValue="int" DataSource="@municipalityFiltered">
                                        <ComboBoxEvents TItem="MunicipalityVM" TValue="int" ValueChange="MunicipalityChangeHandler"></ComboBoxEvents>
                                        <ComboBoxFieldSettings Value="idMunicipality" Text="MunicipalityName"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                    @*@bind-Value="this.model.ClientCourse.Course.Location.Municipality.idMunicipality"*@
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Населено място: </label>
                                    <SfAutoComplete @ref="sfAutoCompleteLocation" TValue="int" TItem="LocationVM" AllowCustom="false"
                                                    @bind-Value="this.model.idLocation"
                                                    DataSource="locationFiltered" AllowFiltering="true" CssClass="form-control">
                                        <AutoCompleteTemplates TItem="LocationVM">
                                            <NoRecordsTemplate>
                                                Няма намерени резултати.
                                            </NoRecordsTemplate>
                                        </AutoCompleteTemplates>
                                        <AutoCompleteFieldSettings Text="DisplayJoinedNames" Value="idLocation" />
                                        <AutoCompleteEvents TValue="int" TItem="LocationVM" Filtering="OnFilterLocationCorrespondence" ValueChange="LocationChanegeHandler"></AutoCompleteEvents>
                                    </SfAutoComplete>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Име: </label>
                                    <InputText class="form-control" @bind-Value="this.model.FirstName"></InputText>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Фамилия: </label>
                                    <InputText class="form-control" @bind-Value="this.model.FamilyName"></InputText>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>ЕГН/ЛНЧ/ИДН: </label>
                                    <InputText class="form-control" @bind-Value="this.model.Indent"></InputText>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Гражданство: </label>
                                    <SfComboBox @bind-Value="this.model.IdNationality" TItem="KeyValueVM" AllowCustom="false"
                                                TValue="int?" DataSource="nationalities">
                                        <ComboBoxFieldSettings Value="IdKeyValue" Text="Name"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Пол: </label>
                                    <SfComboBox @bind-Value="this.model.IdSex" TItem="KeyValueVM" AllowCustom="false"
                                                TValue="int?" DataSource="sex">
                                        <ComboBoxFieldSettings Value="IdKeyValue" Text="Name"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                </div>
                            </div>
                        </div>
                        </EditForm>
                </div>
            </div>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col">
                    <div class="float">
                        <button type="submit" class="btn btn-info" form="mainForm">Търси</button>
                        <button type="button" class="btn btn-warning btn-outline-warning waves-effect md-trigger" @onclick="ClearFilter">Изчисти</button>
                        <button type="button" class="btn btn-outline-secondary" @onclick="CancelClickedHandler">Отказ</button>
                    </div>
                </div>
            </div>
        </FooterTemplate>
        </DialogTemplates>
</SfDialog>