@inherits BlazorBaseComponent

<SfDialog @bind-Visible="isVisible" Width="30%" Height="auto" EnableResize="true" AllowDragging="true" IsModal="true" ZIndex="3023" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Добавяне на курсист</Header>
        <Content>
            <EditForm EditContext="editContext">
                <ValidationSummary />
                <div class="card">
                    <div class="card-block" style="">
                        <p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group required">
                                        <label class="control-label">Курсист: </label>
                                        <SfComboBox ShowClearButton="true" TValue="int" TItem="ClientCourseVM" PopupHeight="230px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="clientsCourseSource" AllowCustom="false" @bind-Value="this.model.IdClientCourse">
                                            <ComboBoxFieldSettings Text="FullName" Value="IdClientCourse" />
                                        </SfComboBox>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-right">
                            <button class="btn btn-info" type="submit" @onclick="(async () => await this.SubmitBtn())">Добави</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog @ref="ConfirmDialog" CallbackCancel="ConfirmDialogCallback" />
