@inherits BlazorBaseComponent

<SfDialog @bind-Visible="isVisible" Width="75%" Height="auto" EnableResize="true" AllowDragging="true" IsModal="true" ZIndex="3015" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Данни за преподаватели</Header>
        <Content>
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group required">
                                            <label class="control-label">Вид на провежданото обучение: </label>
                                            <SfComboBox ShowClearButton="true" TValue="int" TItem="KeyValueVM" PopupHeight="230px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="trainingTypeSource" AllowCustom="false" @bind-Value="this.idTrainingType">
                                                <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                <ComboBoxEvents TItem="KeyValueVM" TValue="int" ValueChange="TrainingTypeSelectedHandler" />
                                            </SfComboBox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 30px;">
                                    <div class="col-sm-12">
                                        <SfGrid @ref="trainersGrid" DataSource="trainersSource" AllowSelection="true" EnableAltRow="true" AllowTextWrap="true" AllowFiltering="true" AllowPaging="true">
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel" />
                                            <GridSelectionSettings CheckboxOnly="true" />
                                            <GridColumns>
                                                <GridColumn Type="ColumnType.CheckBox" Width="8%"></GridColumn>
                                                <GridColumn Field="IdCandidateProviderPremises" HeaderText="" TextAlign="TextAlign.Center" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" Width="8%" AllowFiltering="false">
                                                    <Template Context="idContext">
                                                        @if ((idContext as CandidateProviderTrainerVM).IdCandidateProviderTrainer != 0)
                                                        {
                                                            @GetRowNumber(this.trainersGrid, (idContext as CandidateProviderTrainerVM).IdCandidateProviderTrainer).Result
                                                        }
                                                    </Template>
                                                </GridColumn>
                                                <GridColumn Field="IdCandidateProviderTrainer" IsPrimaryKey="true" Visible="false"></GridColumn>
                                                <GridColumn Field="FirstName" HeaderText="Име" TextAlign="TextAlign.Left" Width="25%"></GridColumn>
                                                <GridColumn Field="SecondName" HeaderText="Презиме" TextAlign="TextAlign.Left" Width="25%"></GridColumn>
                                                <GridColumn Field="FamilyName" HeaderText="Фамилия" TextAlign="TextAlign.Left" Width="25%"></GridColumn>
                                                <GridColumn Field="EducationValue" HeaderText="ОКС" TextAlign="TextAlign.Left" Width="30%"></GridColumn>
                                                <GridColumn Field="EducationSpecialityNotes" HeaderText="Специалност по диплома" TextAlign="TextAlign.Left" Width="40%"></GridColumn>
                                            </GridColumns>
                                        </SfGrid>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-right">
                            <button class="btn btn-info" type="submit" @onclick="(async () => await this.SubmitBtn())">Добави</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog @ref="ConfirmDialog" CallbackCancel="ConfirmDialogCallback" />
