<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="DefaultBinding"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 transferMode="StreamedResponse"
						 maxReceivedMessageSize="26214400"
						 maxBufferSize="26214400">
					<readerQuotas maxDepth="256"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="2147483647"/>
					<security mode="None">
					</security>
				</binding>
				<binding name="DataWSDLBinding" />
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="WebHttpBindingConfiguration"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 transferMode="StreamedResponse"
						 maxReceivedMessageSize="26214400"
						 maxBufferSize="26214400">
					<readerQuotas maxDepth="256"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="2147483647"/>
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<!--Forbid metadata discovery-->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="DefaultEndpointBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="RestEndpointBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<client>
			<endpoint address="https://eauth3.smcon.com:8083/WS/EGOVService.asmx"
				binding="basicHttpBinding" bindingConfiguration="DataWSDLBinding"
				contract="NSDServiceReference.Data" name="DataWSDLPort" />
			<endpoint address="https://eauth3.smcon.com:8083/WS/EGOVService.asmx"
					 binding="basicHttpBinding" bindingConfiguration="DataWSDLBinding"
					 contract="ServiceRefForMethod2.Data" name="DataWSDLPort1" />
		</client>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="false" />
	</system.webServer>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log.txt" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="5120KB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="WARN" />
			</filter>
		</appender>
		<appender name="ErrorsAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log_errors.txt" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="5120KB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="ErrorsAppender" />
		</root>
	</log4net>
	<appSettings>
		<add key="CertificateFindValue" value="####" />
		<add key="CertificateStoreLocation" value="LocalMachine" />
		<add key="CertificateStoreName" value="My" />
		<add key="CertificateX509FindType" value="FindByThumbprint" />
		<add key="EOPdfLicenseKey" value="CrWfWZekzRfonNzyBBDInbW4w9y2aq20wd20bLOz/RTinuX39vTjd4SOscufWbPw+g7kp+rp9um7aOPt9BDtrNzpz7iJWZeksefgpePzCOmMQ5ekscufWZekzQzjnZf4ChvkdpnJ4NnPnd2msSHkq+rtABm8W6m0v9uhWabCnrWfWZekzdrgpePzCOmMQ5ekscu7qOno9h3Ip93zsQ/grdzBs+Ouaqqzw9uxaZmkBCDhfu/0+h3krLj4zs23aKi3wN2va6imsSHkq+rtABm8W6m0s8uud4SOscufWbP3+hLtmuv5AxC9ffD2wyTBqb269yPspeK31RnEhKbG4ui8dab3+hLtmuv5AxC9RoHAwBfonNzyBBC9RoF14+30EO2s3MKe" />
		<add key="TimestampServer" value=""/>
		<add key="SecureBlackBoxLicenseKey" value="90A171B84E81136ED1EA745564B7F84047A13024C91781A1BBF521A83C83F6754795BE83093EA8229B58BB8416984040C2A69D2DA25250232B33F67A65CA4449C2C49D084964F14E84ADE98C2D4FE67B6D44A2446E43FAE599D83FF1BC29662C73CD106A1B183CEC0C4688C8B94F6C41ACBB26D4C22DB37CE53DE1C2C7B9031759AB74ACFC273328D65D5B4A2C2BCFC5554CA3A501C75E9B9BA564934D58E740AF0C2E37560DD6B890CF290897DEB6F32048F3BC5E9781DDAEF7F1D5AD8EC2A5912C3FFFB82B5A657091AAC6E589DCB4EA93AFEFCBBBA3AC127AFAE53A780F512A868574D0E2DBB311B35D707EE8AA8710A3062FC798E2804E39178C6073E01F"/>
		<add key="SignResponse" value="false" />
	</appSettings>
</configuration>