<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="saml2" type="SAML2.Config.Saml2Section, SAML2" />
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="Title" value="Configuration Example" />
    <add key="Language" value="CSharp" />
  </appSettings>
  <ApplicationSettings>
    <add key="Title" value="Configuration Example" />
    <add key="Language" value="CSharp" />
  </ApplicationSettings>
  <saml2>
    <allowedAudienceUris>
      <audience uri="https://eauth.smcon.com/eAuth/Home/Saml" />
    </allowedAudienceUris>
    <commonDomainCookie enabled="false"></commonDomainCookie>
    <serviceProvider id="urn:eauth.smcon.com" server="https://eauth.smcon.com">
      <signingCertificate findValue="secret" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
      <endpoints>
        <endpoint type="SignOn" localPath="/account/login" redirectUrl="~/account/login" />
        <endpoint type="Logout" localPath="/account/logout" redirectUrl="~/account/logout" />
        <endpoint type="Metadata" localPath="/metadata/info/saml" redirectUrl="~/Home/Saml" />
      </endpoints>
    </serviceProvider>
    <identityProviders>
      <add name="eAuth 2.0" id="https://eauth.egov.bg">
        <endpoints>
          <endpoint type="Metadata" url="https://eauth.smcon.com/eAuth/Home/Saml" binding="Post" />
        </endpoints>
        <certificateValidations>
          <add type="SAML2.Specification.SelfIssuedCertificateSpecification, SAML2" />
        </certificateValidations>
      </add>
    </identityProviders>
    <metadata lifetime="0.00:15:00">
      <organization name="eAuth" displayName="eAuth" url="https://eauth.smcon.com" />
      <contacts>
        <contact type="Administrative" company="SM Consulta Ltd" givenName="George" surName="" email="secret" phone="secret" />
      </contacts>
      <requestedAttributes>
        <add name="urn:egov:bg:eauth:2.0:attributes:personIdentifier" isRequired="true" />
        <add name="urn:egov:bg:eauth:2.0:attributes:personName" isRequired="true" />
        <add name="urn:egov:bg:eauth:2.0:attributes:email" isRequired="true" />
        <add name="urn:egov:bg:eauth:2.0:attributes:phone" />
        <add name="urn:egov:bg:eauth:2.0:attributes:dateOfBirth" />
      </requestedAttributes>
    </metadata>
  </saml2>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net5.0\eAuth.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="8083" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>