@inherits BlazorBaseComponent
@using Syncfusion.Blazor.DocumentEditor

<SfDialog @ref="sfDialog" @bind-Visible="isVisible" Width="68%" EnableResize="false" AllowDragging="true" Height="92%" IsModal="true" ZIndex="2000" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnClose" />
    <DialogTemplates>
        <Header>Формуляр за <span style="color:#ffffff">@($"ЦИПО {this.CandidateProviderVM.ProviderName} към {this.CandidateProviderVM.ProviderOwner}")</span></Header>
        <Content>
            @if (DocVis)
            {
                <div class="row">
                    <SfDocumentEditorContainer @ref="container" EnableToolbar=false Width="100%" UserColor="#FF00FF05" LayoutType="LayoutType.Pages" Height="83%" ShowPropertiesPane=false CurrentUser="Everyone">
                        <DocumentEditorContainerEvents Created="OnLoad" DocumentChanged="OnDocumentChange"></DocumentEditorContainerEvents>
                    </SfDocumentEditorContainer>
                </div>
            }
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-right">
                            @if (DocVis)
                            {
                                <button class="btn btn-info" type="submit" @onclick="RequestExport">Изтегли файл</button>
                                <button style="margin-left:0.23em" class="btn btn-info" type="submit" @onclick="OnProviderSave" disabled="@(this.DisableAllFields)">Запази промени</button>
                            }

                            <button style="margin-left:0.23em" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="OnClose">Затвори</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
<ToastMsg @ref="toast" />
<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>