@page "/ForgotPasswordInvalidLink"
@using ISNAPOO.Common.Framework
@using ISNAPOO.WebSystem.Extensions
@inject IConfiguration Configuration
@inject ICommonService CommonService

@inject NavigationManager NavMgr
<SfDialog Target="#target" Width="600px" EnableResize=true AllowDragging="true" IsModal="true" ShowCloseIcon="false" AllowPrerender="true" Visible=true>
	<DialogTemplates>
		<Header>
			Забравена парола
		</Header>
		<Content>
			<p>Линкът за възстановяване на паролата е изтекъл!</p>
		</Content>
		<FooterTemplate>
			<div class="footer-modal-body">
				<div class="row">
					<div class="col-12">
						<!-- text input -->
						<div class="form-group">		
							<button type="submit" class="btn btn-info" @onclick="@this.RedirectToLogin"><i class="icofont icofont-post"></i>Вход в системата</button>
							<button type="submit" class="btn btn-info" @onclick="@this.RedirectToForgotPassword"><i class="icofont icofont-post"></i>Към "Забравена парола"</button>
						</div>
					</div>
				</div>
			</div>
		</FooterTemplate>
	</DialogTemplates>
</SfDialog>

@code
{
	protected void RedirectToForgotPassword()
	{
		this.NavMgr.NavigateTo("/ForgotPassword", true);
	}

	protected void RedirectToLogin()
	{
		this.NavMgr.NavigateTo("/Login", true);
	}

}

