@page "/ForgotPasswordSuccess"

@inject NavigationManager NavMgr
<SfDialog Target="#target" Width="600px" EnableResize=true AllowDragging="true" IsModal="true" ShowCloseIcon="false" AllowPrerender="true" Visible="true">
    <DialogTemplates>
        <Header>
            Забравена парола
        </Header>
        <Content>
            <p>Вие успешно изпратихте заявка за възстановяване на парола в ИС на НАПОО.<br> Моля, проверете Вашия e-mail и следвайте посочените инструкции!</p>
        </Content>
        @*<FooterTemplate>
            <div class="row">
                <div class="col">
                    <div class="float-">
                        <button type="submit" class="btn btn-info" @onclick="@this.RedirectToLogin"><i class="icofont icofont-post"></i>Към началната страница</button>
                    </div>
                </div>
            </div>
        </FooterTemplate>*@
    </DialogTemplates>
</SfDialog>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        this.NavMgr.NavigateTo("/", true);
    }
}

